# ignore /Baipiao/api/build/
/Baipiao/api/build/

# ignore /Baipiao/api/.gradle/ 
/Baipiao/api/.gradle/

# ignore /Baipiao/api/.idea/
/Baipiao/api/.idea/ 

# ignore /Baipiao/client/node_modules 
/Baipiao/client/node_modules/

# ignore /Baipiao/client/node_modules 
/Baipiao/client/package-lock.json

# ignore /Baipiao/api/src/main/resources/application.properties
/Baipiao/api/src/main/resources/application.properties